<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m %n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/mylogs.log">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m %n</Pattern>
            </PatternLayout>
        </File>
        <File name="FileException" fileName="target/logs/errorLogs.log">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m %n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="FileException" level = "error"/>
        </Root>
    </Loggers>

</Configuration>